div.testFloat{
  float: left;
  width: 100px;
  padding: 6px;
  margin-left: 10px;
  background: #FF0000;
  color: white;
}
/*Commentaire CSS*/
p{
background: #ECECEC;
}
.clearBoth{
  clear: both;
}
.blueLeft{
  float: left;
  width: 300px;
  height: 300px;
  margin: 20px;
  background: blue;
}
.redRight{
  float:right;
  width: 300px;
  height: 200px;
  margin: 20px;
  background: red;
}
